{{ define "main" }}


<div class="home">
        <ul class="posts">
            {{ range (where .Data.Pages "Type" "post") }}
            <li><a href="{{ .Permalink }}"><span>{{ .Date.Format "2006-01-02" }}</span>{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>

    
{{ end }}

{{ define "head-includes" }}
<script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}

{{ define "body-end" }}
<script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
</script>
{{ end }}